.container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.header {
  font-size: 45px;
  font-weight: 500;
  float: left;
  margin-top: 60%;
}

.links_container{
  display: flex;
  width: auto;
  justify-content: center;
  margin-top: 60%;
}

.links {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  float: left;
  border: 2px solid;
  border-radius: 10px;
  padding: 8px 10px;
  margin: 5px;
  width: auto;
  text-align: center;
}

a:link { 
  text-decoration: none; 
  color: black;
}

a:visited { 
  text-decoration: none; 
  color: black;
}

a:hover { 
  text-decoration: none; 
}

a:active { 
  text-decoration: none; 
}

